[submodule "lualib/vendor/ext"]
	path = lualib/vendor/ext
	url = https://github.com/thenumbernine/lua-ext.git
[submodule "lualib/vendor/symmath"]
	path = lualib/vendor/symmath
	url = https://github.com/thenumbernine/symmath-lua.git
[submodule "lualib/vendor/complex"]
	path = lualib/vendor/complex
	url = https://github.com/thenumbernine/complex-lua
