[submodule "src/symmath-lua"]
	path = lualib/vendor/symmath
	url = https://github.com/thenumbernine/symmath-lua.git
[submodule "src/lua-ext"]
	path = lualib/vendor/ext
	url = https://github.com/thenumbernine/lua-ext.git
